\.orig$
\.orig\..*$
\.chg\..*$
\.rej$
\.conflict\~$
syntax: glob

# Vim files
*~
*.swp
*.swo

# Intellij
# .idea/
# *.iml
# *.iws

# Eclipse
.classpath
.project
.settings/

# Netbeans
nb-configuration.xml

#Maven
target/
log/
triptacular.todo.log
